body {
    margin: 0;
    padding: 0;
    display: flex; /* u need this */
    flex-direction: column; /* to be able to so this (helps us stack things on top of each other*/
    width: 100vw;
    height: 100vh; /* you need width and height to use justify content and alighn items */
    justify-content: space-between;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    color: rgb(162, 126, 248);
    height: 150px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

 svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10; /* makes sure the background is behind everything */
} 

.bottom-section {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 150px;
}

.input-container {
    width: 100%;
    max-width: 650px;
    position: relative;
}

input {
    width: 100%;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
    box-sizing: border-box; /* keeps box in the parent */
}

#submit-icon {

    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer; /*changes the pointer to look chunky and clickable*/
}